/*
SPDX-License-Identifier: AGPL-3.0-only
SPDX-FileCopyrightText: 2025 Jonas Tobias Hopusch <git@jotoho.de>
*/

:root {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--color-background);
    font-family: serif;
    font-size: normal;

    @media (prefers-color-scheme: light) {
        --color-primary: black;
        --color-background: white;
    }

    @media (prefers-color-scheme: dark) {
        --color-primary: white;
        --color-background: black;
    }

    &,
    & * {
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: border-box;
    }

    >body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;

        &>* {
            width: 100%;
            flex-grow: 0;
            overflow: hidden;
        }

        &>header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border-bottom: max(.5mm, 1px) solid var(--color-primary);
            justify-items: center;
            align-items: center;
            max-width: 100%;
            font-size: x-large;

            &>*,
            &>nav>* {
                display: block;
                flex-grow: 1;
                flex-basis: 0;
                text-align: center;
                align-content: center;
                text-wrap-mode: nowrap;
            }

            &>nav {
                display: contents !important;

                &>a {
                    text-decoration-line: none;
                }
            }

            &>h1 {
                font-size: xx-large;
            }
        }

        &>main {
            flex-basis: content;
            flex-grow: 1;
            width: max-content;
            max-width: min(80em, 100%);
            border-left: max(.5mm, 1px) solid var(--color-primary);
            border-right: max(.5mm, 1px) solid var(--color-primary);
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
        }

        &>footer {
            border-top: max(.5mm, 1px) solid var(--color-primary);
            text-align: center;
            font-size: xx-small;
        }
    }
}
