/*
SPDX-License-Identifier: AGPL-3.0-only
SPDX-FileCopyrightText: 2025 Jonas Tobias Hopusch <git@jotoho.de>
*/

main>table#plots {
    border: 1px solid var(--color-primary);
    display: block !important;
    overflow: auto;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;

    & * {
        width: max-content;
        height: max-content;
    }

    &,
    & * {
        border-collapse: collapse;
    }

    >thead {
        border: 1px solid var(--color-primary);
    }

    >tbody {
        &>tr:not(:first-child) {
            border-top: 1px solid var(--color-primary);
        }
    }

    & td,
    & th {
        padding: .5em;
    }

    td:is(.rentprice, .rentduration, .rentavgprice) {
        text-align: right;
    }

    td.regionlabels:empty::after {
        content: "none";
        font-style: italic;
    }
}